{% extends 'users/base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="mx-3">

        <h2 class="text-center mt-3">User Dashboard</h2>
        <br/>

        <div class="card">
            <div class="card-header">
                {{ current_user.name|title }}
            </div>
            <div class="card-body">
                <p class="card-text">
                <div class="row">
                    <div class="col-12">
                        <strong>User Id:</strong>
                        {{ current_user.id }}<br/>

                        <strong>Name:</strong>
                        {{ current_user.name|title }}<br/>

                        <strong>Username:</strong>
                        {{ current_user.username }}<br/>

                        <strong>Email:</strong>
                        {{ current_user.email }}<br/>

                        </p>
                        <a href="{{ url_for('logout') }}"
                           class="btn btn-danger float-right ml-2 btn-sm">
                            Logout
                        </a>

                        <a href="{{ url_for('update_user_profile', id=current_user.id) }}"
                           class="btn btn-secondary float-right btn-sm">Update
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card my-5">
            <div class="card-header">
                <h4 class="text-center">Update Profile</h4>
            </div>
            <div class="card-body">
                <form action="/dashboard" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control", value=name_to_update.name) }}
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", value=name_to_update.username) }}
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", value=name_to_update.email) }}
                    {{ form.school_study.label(class="form-label") }}
                    {{ form.school_study(class="form-control", value=name_to_update.school_study) }}

                    <div class="my-3">
                        {{ form.submit(class="btn btn-success") }}
                        <a href="{{ url_for('delete_user', id=current_user.id) }}">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br/>
{% endblock %}