{% extends 'users/base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="card mt-3 shadow-lg p-3 mb-5 bg-white rounded" style="width:1150px">
            <div class="card-body">
                <a href="{{ url_for('retrieve_all_posts') }}" class="float-right">Back Home</a>
                <h4 class="card-title">{{ get_post.title|title }}</h4>
                <p class="card-text">{{ get_post.content }}</p>
                <a href="#">Read More</a>
                <br>
                <small class="card-title">By: {{ get_post.author }}</small><br>
                <small class="card-text float-right">Created On: {{ get_post.date_posted }}</small>
            </div>
        </div>
    </div>
{% endblock %}