{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% if name %}
            <h3>Hello {{ name }}</h3>
            <br>
        {% else %}
            <img src="{{ url_for('static', filename='images/space.jpg') }}"
            width="120" height="100" class="rounded-circle">

            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}

                <br>

                {{ form.submit(class="btn btn-success") }}
            </form>
        {% endif %}
    </div>
{% endblock %}